.profile {
	position: relative;
	display: flex;
	height: 100%;
	padding: 0 64px;
	overflow: hidden;

	&__link-back {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 64px;
		height: 100%;
		background-color: #fbfbfb;
		border-right: 1px solid $medium-gray;
		transition: background-color 0.3s;
	}

	&__main {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
}
