.profile-block {
  &__name {
    margin-top: 21px;

    @mixin font 16, 16;

    text-align: center;
  }

  &__list {
    padding: 60px 0;
    list-style: none;
  }

  &__item {
    width: 510px;
  }

  &__avatar {
    margin: auto;
  }

  &__edit-avatar {
    position: relative;
    display: block;
    margin: auto;

    span {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $white;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      span {
        background-color: rgb($black, 0.5);
        opacity: 1;
      }
    }
  }
}

.profile-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $medium-gray;

  @mixin font 13, 13;

  &__input {
    color: $gray;
    text-align: right;
    background-color: transparent;
    border: none;
    outline: none;
  }
}

.profile-button {
  display: flex;
  justify-content: center;
}
